:root {
    --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    --msger-bg: #fff;
    --border: 2px solid #ddd;
    --left-msg-bg: #ececec;
    --right-msg-bg: #579ffb;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-image: var(--body-bg);
}
.container{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}
.wrapper{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto ;
}
.chat-container{
    width: 100%;
    border: 1px solid black;
    padding: 25px;
    overflow-y: scroll;
    background-image: url(bg.png);
    height: 250px;
}
.form{
    margin-left: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-name{
    background: #00000063;
    margin: 0 auto 40px;
    padding: 5px;
    border: none;
    width: 40%;
    color: white;
    font-size: 16px;
    transition: 0.2s ease-in-out;
}
.user-name:focus{
    padding: 8px;
}
.input{
    width: 60%;
    border: none;
    background: #f1f1f1;
    resize: none;
    height: 60px;
    overflow-y: scroll;
    margin-bottom: 20px;
    padding: 5px;
  }
.submit{
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 50%;
    margin: 0 auto 20px;
    opacity: 0.8;
    transition: 0.3s ease-in-out;
}

.register-submit{
    width: 30%;
}
.submit:hover {
    opacity: 1;
}
#map{
    width: 100%;
    height: 140px;
}
.imageLoad{
    margin: 0 auto 100px;
}

.none{
    display: none;
}
.register-form{
    display: flex;
    flex-direction: column;
    margin: 200px auto;
}
.box{
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}
.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}


/* style 1 */

.inputfile-1 + label {
    color: #f1e5e6;
    background-color: #d3394c;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #722040;
}


.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}
.msg:last-of-type {
  margin: 0;
}
.msg-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
.msg-bubble {
  max-width: 450px;
  padding: 15px;
  border-radius: 15px;
  background: var(--left-msg-bg);
}
.msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.msg-info-name {
  margin-right: 10px;
  font-weight: bold;
}
.msg-info-time {
  font-size: 0.85em;
}
.msg-text{
    max-width: 400px;
    word-wrap: break-word;
}
.left-msg .msg-bubble {
  border-bottom-left-radius: 0;
}

.right-msg {
  flex-direction: row-reverse;
}
.right-msg .msg-bubble {
  background: var(--right-msg-bg);
  color: #fff;
  border-bottom-right-radius: 0;
}
.right-msg .msg-img {
  margin: 0 0 0 10px;
}
p{
    margin: 0;
}